$bg-color: yellow;
$border-color: red;

.app-container {
  font-family: helvetica, arial, sans-serif;
  margin: 32px 16px 16px;
}

body, html {
  font-family: helvetica, arial, sans-serif;

}

html, body, .container, #root {
  height: 100%;
  font-size: 12px;

  @media print {
    font-size: 10px
  }
}

.container {
  display: table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
}

.row {
  display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.no-roster-page-header {
  text-align: center;
  width: 100%
}