table {
  border: 1px #bbbbbb solid;
  min-width: 400px;
  border-collapse: collapse;
  margin: 8px;
  max-width: 1600px;
}

thead {
  border-width: 1px
}

th {
  padding: 4px;
  text-align: left;
  min-width: 30px;
}

td {
  padding: 4px;
  white-space: pre-line;
}

td:first-child {
  font-weight: bold;
}

tr {
  border: 1px #bbbbbb solid !important;
}

