table {
  border: 1px #bbbbbb solid;
  min-width: 400px;
  border-collapse: collapse;
  margin: 8px;
  max-width: 1600px;
}

th {
  text-align: left;
  min-width: 30px;
}

td {
  padding-right: 20px;
}

td:first-child {
  font-weight: bold;
}

tr {

  border: 1px #bbbbbb solid
}
