.unit-container {
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #bbbbbb;
}
.unit-container > .selection-container > h4 {
  display:none;
}

.top-unit-name {
  margin-top: 4px;
  margin-bottom: 8px;
};

.unit-name {
  font-size: 18px;
  margin: 0;
}

.nested-selection {
  padding-left: 0px;
}
.nested-selection-stats {
  padding-left: 8px;
}

.selection-container {
  padding-left: 8px;
}
